<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>銷售管理平台</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <!-- Favicon -->
    <link rel="icon" th:href="@{'/images/favicon.png'}">

    <link rel="stylesheet" th:href="@{'/css/css2.css'}">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" th:href="@{'/css/all.min.css'}">
    <link rel="stylesheet" th:href="@{'/css/bootstrap-icons.css'}">

    <!-- Libraries Stylesheet -->
    <link rel="stylesheet" th:href="@{'/css/owl.carousel.min.css'}">
    <link rel="stylesheet"th:href="@{'/css/tempusdominus-bootstrap-4.min.css'}" >

    <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" th:href="@{'/css/bootstrap.min.css'}" >

    <!-- Template Stylesheet -->
    <link rel="stylesheet" th:href="@{'/css/style.css'}" >

    <link rel="stylesheet" th:href="@{'/plugins/loading/loading.css'}"/>
    <link rel="stylesheet" th:href="@{'/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css'}"/>
    <link rel="stylesheet" th:href="@{'/plugins/sweetalert2/sweetalert2.min.css'}"/>
    <link rel="stylesheet" th:href="@{'/plugins/select2/select2.min.css'}"/>
    <link rel="stylesheet" th:href="@{'/plugins/select2/select2-bootstrap-5-theme.min.css'}"/>
    <link rel="stylesheet" th:href="@{'/plugins/datatables/datatables.min.css'}"/>
    <link rel="stylesheet" th:href="@{'/plugins/datatables/colReorder.dataTables.min.css'}"/>
    <link rel="stylesheet" th:href="@{'/plugins/datatables/rowReorder.dataTables.min.css'}"/>
    <link rel="stylesheet" th:href="@{'/plugins/daterangepicker/daterangepicker.css'}"/>

</head>
</html>