<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="include/head :: head"></head>

<body>
<div class="container-fluid position-relative bg-white d-flex p-0">
    <!-- Spinner Start -->
    <div id="spinner"
         class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->
    <!-- Sidebar Start -->
    <th:block th:replace="include/sidebar :: sidebar"/>
    <!-- Sidebar End -->

    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <th:block th:replace="include/navbar :: navbar"/>
        <!-- Navbar End -->
        <!-- Blank Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-12">
                    <div class="bg-light rounded h-100 p-4">
                        <h3 class="mb-4">消費紀錄</h3>
                        <form id="queryForm">
                            <div class="row mb-3">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="form-label">日期</label>
                                        <div class="input-group">
                                            <input class="date form-control pull-right" name="date" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label class="form-label">行動電話</label>
                                        <input type="text" class="form-control" name="phone" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col"></div>
                                <div class="col"></div>
                            </div>
                            <div class="row mb-3">
                                <div class="col text-end">
                                    <button type="button" class="btn btn-warning" onclick="query()"><i
                                            class="fa fa-search"></i>查詢
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-12">
                    <div class="bg-light rounded h-90 p-4">
                        <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap5">
                            <table id="dataTable" class="table table-hover table-striped table-bordered"
                                   style="width:100%">
                                <!-- datatable content -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blank End -->
        <div class="modal fade" id="saleListModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog" style="max-width: 95%">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">消費明細</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="saleListForm" class="form-horizontal">
                        <div class="modal-body">
                            <div class="dataTables_wrapper dt-bootstrap5">
                                <table id="dataTable2" class="table table-hover table-striped table-bordered"
                                       style="width: 100%">
                                    <tfoot>
                                    <tr>
                                        <th colspan="8">合計總金額</th>
                                        <th id="sum"></th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <input type="hidden" name="revenueId" id="revenueId"/>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary float-end" data-bs-dismiss="modal">
                                <i class="fas fa-ban"></i>關閉
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Content End -->
    <th:block th:replace="include/modal :: modal"/>
</div>
</body>
<th:block th:replace="include/footer :: footer('revenue.js')"/>
</html>